<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mario Amiibos</title>
    <h1>Mario Amiibos</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Mario Amiibos</h1>
      <div class="card-container">
        {% for game in games %}
          <a href="{{ url_for('game_detail', id=game.id) }}">
            <div class="card">
              <img src="{{ game.image }}" alt="{{ game.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ game.name }}</h5>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
